body {
    min-height: 100vw;
    max-width: 100%;
    background-color: #373867;
    font-family: "Roboto";
    color: #FFFFFF;
    text-align: left;
}
#sidebar {
    float: left;
    height: auto;
    width: 28%;
    background-color: #262862;
}
.search {
    position: relative;
    height: 159px;
    width: 100%;
    background-color: #373867;
    border-radius: 0px;
}
.search button {
    position: absolute;
    left: 40px;
    top: 50%;
    background-color: transparent;
    border: 0;
}
.search input {
    margin-left: 30px;
    width: 80%;
    background-color: #262862;
    border: 1px solid #49A37B;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.search-bar {
    margin: 64px 0px 0px 16px;
    width: 100%;
    height: 60px;
    width: 348px;
    padding-left: 14px;
    background-color: #373867;
    border-color: #49A37B 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
}
.btn-search {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.links {
    width: 100%;
}
.links ul {
    margin: 49px 33px 0px 0px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}
.links ul li {
    margin: 16px;
    margin-bottom: 69px;
    border-bottom: 1px solid #49A37B;
    list-style: none;
}
.links ul a {
    text-decoration: #262862;
    color: #FFFFFF;
}
.address-box {
    padding:0 16px 0 16px;
    background-color: #262862;
}
.address-box h3 {
    margin-bottom: 35px;
    padding-bottom: 5px;
    border-bottom: 4px solid #49A37B;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.address-box p {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
}
.physical-address, .email-address, .telephone {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #49A37B;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
#sidebar a:link, a:visited,  a:hover, a:active {
    color:#FFFFFF;
    text-decoration: none;
}
.address-box img {
    float: left;
    margin-right: 25px;
    padding-bottom: 20px;
    height: 25px;
    width: 25px;
    border-radius: 0px;
}
#main {
    float: right;
    width: 72%;
}
#header {
    width: 97%;
    height: auto;
    margin-left:25px;
    border-bottom: 4px solid #49A37B;
}
#header h1 {
    display: inline-block;
    padding-top:84px;
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
#header h2 {
    display: inline;
    margin-left:18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.social-media-icon {
    float: right;
    padding: 2px;
    padding-top: 101px;
}
.social-media-icon li {
    display: inline-block;
}
.social-media-icon a {
    height: 26px;
    width: 26px;
}
.description-box {
    width: 97%;
    margin: 18px 0px 0px 25px;
    min-height: 750px;
    padding-bottom: 75px 0px;
    border-bottom: 4px solid #49A37B;
}
.description-box h2 {
    padding: 30px 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}
.description-box h3 {
    padding: 30px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.description-box p {
    padding: 30px 0px 70px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;
}
.description-box img {
    float: right;
    padding-left: 60px;
    margin-top: -110px;
    height: 550px;
    width: 430px;
    border-radius: 0px;
}
.btn-learn {
    height: 46px;
    width: 156px;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #49A37B;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #FFFFFF;
    text-transform: uppercase;
}
.functions-box {
    width: 97%;
    margin: 100px 0px 0px 25px;
    padding-bottom: 100px;
    border-bottom:4px #49A37B solid;
}
.functions-box div {
    display:inline-block;
    width: 44%;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 10px;
}
.div {
    margin-right: 75px;
}
.functions-box h2 {
    width: fit-content;
    border-bottom:4px #49A37B solid;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}
.functions-box h3 {
    display: inline-block;
    padding-top: 77px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.functions-box p {
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
}
.functions-box img {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 77px;
    padding-bottom: 25px;
    height: 78px;
}
.why-box {
    width: 97%;
    margin: 100px 0px 0px 25px;
    padding-bottom: 100px;
    border-bottom:4px #49A37B solid;
}
.why-box h2 {
    width:fit-content;
    padding-bottom: 8px;
    border-bottom:4px #49A37B solid;
    font-size: 30px;
    font-weight: 700;
}
.why-box div {
    position:relative;
    display: inline-block;
    width: 17%;
    margin-top: 88px;
    margin-right: 32px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 17px;
    color:#373867;
}
.why-box h3 {
    padding: 40px 0px 0px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    }
.why-box p {
    padding-top: 5px;
    font-size: 10px;
    font-weight: 400;
}
.why-box img {
    position:absolute;
    top: 12px;
    right: 15px;
}
.form-contact {
    width: 97%;
    margin: 100px 0px 0px 25px;
    padding-bottom: 100px;
    border-bottom:4px #49A37B solid;
}
.form-contact h2 {
    width: fit-content;
    margin-bottom: 45px;
    padding-bottom: 5px;
    border-bottom:4px #49A37B solid;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}
.form-contact input, select, textarea {
    margin-bottom: 30px;
    background:none;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}
.form-contact input {
    width: 45%;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.form-contact label {
    height: 30px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}
.form-name {
    margin-right: 55px;
}
.form-contact select {
    width: 100%;
    margin-top: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.form-contact textarea {
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-top:10px;
    margin-top: 30px;
    border-radius: 5px;
}
.form-contact button {
    height: 34px;
    width: 64px;
    margin-right: 20px;
    border:transparent;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
}
.btn-submit {
    background-color: #49A37B;
}
.btn-reset {
    background-color: #F13312;
}
.about-box {
    width: 97%;
    margin: 100px 0px 50px 25px;
    padding-bottom: 100px;
    border-bottom: 4px solid #49A37B;
}
.about-box h2 {
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 4px solid #49A37B;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}
.about-box h3 {
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.about-box p {
    padding-bottom: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.quote {
    padding: 16px;
    border-left: 1px solid #FFFFFF;
    font-style: italic;
}
.about-box .div-1 p {
    width: 100%;
    padding: 25px 0px;
    text-align: justify;
}
.about-box .div-2 p {
    width: 65%;
    padding: 25px 0px;
    text-align: justify;
}
.about-box .div-1 img {
    float:left;
    width: 35%;
    padding: 15px 25px 15px 0px;
}
.about-box .div-2 img {
    float:right;
    width: 33%;
    margin-top: -165px;
}
.quick-links-box {
    width: 90%;
    margin: 0px 0px auto 150px;
}
.link-product, .link-company, .link-support {
    display: inline-block;
    width: 33%;
}
.quick-links-box h2 {
    padding: 26px 0px 9px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
.quick-links-box li {
    list-style-type: decimal;
}
.quick-links-box a:link, a:visited,  a:hover, a:active {
    text-align: left;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
#footer {
    margin: 72px auto;
    width: 39%;
    }
#footer p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    padding-top: 35px;
}
.social-media-footer {
    padding-bottom: 30px;
}
.social-media-footer li {
    display: inline;
    padding-right: 32px;
}
.social-media-footer a:link, a:visited,  a:hover, a:active {
    text-decoration: none;
}
