body {
    background-color: #373867;
    font-family: "Roboto";
    color: #FFFFFF;
    min-height: 100vw;
    max-width: 100%;
}
#sidebar {
    height: auto;
    width: 28%;
    float: left;
    background-color: #262862;
}
.search {
    height: 159px;
    width: 100%;
    border-radius: 0px;
    background-color: #373867;
    position: relative;
}
.search button {
    position: absolute;
    left: 40px;
    top: 50%;
    background-color: transparent;
    border: 0;
}
.search input {
    margin-left: 30px;
    width: 80%;
    background-color: #262862;
    border: 1px solid #49A37B;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.search-bar {
    margin: 64px 0px 0px 16px;
    width: 100%;
    height: 60px;
    width: 348px;
    border-radius: 5px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
    background-color: #373867;
    border-color: #49A37B 1px;
}
.btn-search {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.links {
    width: 100%;
}
.links ul {
    margin: 49px 33px 0px 0px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}
.links ul li {
    margin: 16px;
    border-bottom: 1px solid #49A37B;
    margin-bottom: 69px;
    list-style: none;
}
.links ul a {
    text-decoration: #262862;
    color: #FFFFFF;
}
.address-box{
    background-color: #262862;
    padding:0 16px 0 16px;
    }
.address-box h3 {
    margin-bottom: 35px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    border-bottom: 4px solid #49A37B;
}
.address-box p {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
}
.physical-address, .email-address, .telephone {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    border-bottom: 1px solid #49A37B;
}
a:link, a:visited,  a:hover, a:active {
    color:#FFFFFF;
    text-decoration: none;
}
.address-box img {
    height: 25px;
    width: 25px;
    border-radius: 0px;
    float: left;
    margin-right: 25px;
    padding-bottom: 20px;
}
main {
    width: 72%;
    float: right;
}
.header {
    width: 90%;
    height: 159px;
    margin-left:25px;
    border-bottom: 4px solid #49A37B;
}
.header h1 {
    padding-top:84px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    display: inline-block;
}
.header h2 {
    margin-left:18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    display: inline;
}
.social-media-icon {
    float: right;
    padding: 2px;
    padding-top: 101px;
}
.social-media-icon li {
    display: inline-block;
}
.social-media-icon a {
    height: 26px;
    width: 26px;
}
.description-box {
    width: 95%;
    height: auto;
    margin-top: 18px;
    margin-left: 25px;
    padding: 25px 0px;
    border-bottom: 4px solid #49A37B;
}
.description-box h2 {
    padding: 30px 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
.description-box h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    padding: 30px 0px;
}
.description-box p {
    padding: 30px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;
}
.description-box img {
    padding-left: 60px;
    height: 500px;
    width: 427px;
    float: right;
    border-radius: 0px;
}
.btn-learn {
    height: 46px;
    width: 156px;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #FFFFFF;
    background-color: #49A37B;
    text-transform: uppercase;
}
.functions-box {
    width: 95%;
    height: auto;
    padding: 87px 25px;
    border-bottom:4px #49A37B solid;
}
.functions-box div {
    display:inline-block;
    width: 44%;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 10px;
}
.functions-box h2 {
    width: 148px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    border-bottom:4px #49A37B solid;
}
.functions-box h3 {
    padding-top: 77px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    display: inline-block;
}
.functions-box p {
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
}
.functions-box img {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 77px;
    padding-bottom: 25px;
    height: 78px;
}

.why-box h2 {
    height: 49px;
    width: 920px;
    border-bottom:4px #49A37B solid;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
.square {
    width:214px;
    margin:28px;
    padding: 17px;
    background-color: #FFFFFF;
    border-radius: 17px;
    color:#373867;
}
.square h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    display: inline-block;
    }
.square p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}
.square img {
    height: 37px;
    width: 27px;
    float:right;
}
.form-contact {
    height: 526px;
    text-align: left;
    letter-spacing: 0em;
}
.form-contact h2 {
    height: 49px;
    width: 246px;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    border-bottom:#49A37B solid;
}
.form-contact input, select, textarea, label {
    border:#E0E0E0 solid 1px;
    background-color: transparent;
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
}
.form-contact label {
    height: 15px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    border: none;
}
.form-contact input {
    height: 16px;
    width:42%;
    margin-right: 75px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.form-contact select {
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.form-contact textarea {
    height: 150px;
    border-radius: 5px;
    padding-left: 10px;
}
.form-contact button {
    height: 34px;
    width: 64px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px;
    border:transparent;
}
.btn-submit {
    background-color: #49A37B;
}
.btn-reset {
    background-color: #F13312;
}
.box-4 {
height:890px;
width: 100%;
letter-spacing: 0em;
text-align: left;
}
.box-4 h2 {
height: 51px;
width: 247px;
font-size: 30px;
font-weight: 700;
line-height: 35px;
border-bottom:#49A37B solid;
}
.box-4 h3 {
    height: 34px;
    width: 160px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.box-4 p {
    height: 84px;
    width: 942px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.quote {
    padding: 16px;
    border-left: #FFFFFF solid 1px;
    font-style: italic;
}
.text-1
{   width: 665px;
    text-align: left;
}
.text-3 {
    float:left;
    text-align: left;
    width: 665px;
}
.img-1 {
    float:left;
    height: 222px;
    width: 238px;
    border-radius: 60px;
}
.img-2{
    float:right;
}
.box-5 {
    height: 87px;
    width: 125px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}
.link-list-1{
    float:left;
}
/*.link-list-2{
    float:center;
}*/
.link-list-3{
    float:right;
}
footer {
    height: 21px;
    width: 123px;
    float:center;
    }