<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Time tracking software that lets you track work hours
        across projects">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
        <script src="../javascript/employee-signup.js"></script>
    </head>
    <body>
        <section class="title">
            <h1>Trackgenix</h1>
            <h2>Register/Employee</h2>
        </section>
        <section class="sign-up">
            <h2>Sign up</h2>
            <form>
                <div class="form-sign-up-flex">
                    <div>
                        <div class="sign-up-flex">
                            <h3>First Name</h3>
                            <input type="text" id="first-name">
                            </div>
                        <div class="sign-up-flex">
                            <h3>Last Name</h3>
                            <input type="text" id="last-name">
                        </div>
                    </div>
                    <div>
                        <div class="sign-up-flex">
                            <div class="sign-up-icon-flex">
                                <h3>E-mail</h3>
                                <img src="../assets/img/icon-email-sign-up.png">
                            </div>
                            <input type="text" id="email">
                            </div>
                        <div class="sign-up-flex">
                            <div class="sign-up-icon-flex">
                                <h3>Password</h3>
                                <img src="../assets/img/icon-pwd-sign-up.png">
                            </div>
                            <input type="password" id="password">
                        </div>
                        <div class="sign-up-flex">
                            <div class="sign-up-icon-flex">
                                <h3>Repeat password</h3>
                                <img src="../assets/img/icon-pwd-sign-up.png">
                            </div>
                            <input type="password" class="password-repeat">
                        </div>
                    </div>
                </div>
                <button class="btn-create" type="submit">Create Account</button>
                <!-- <div class="error">
                    <img src="../assets/img/icon-error.png">
                    <h3>Incorrect e-mail or password</h3>
                </div>-->
                <div class="sign-in-link">
                    <h3>Already have an account?</h3>
                    <a href=""> Sign in</a>
                </div>
            </form>
        </section>
    </body>
</html>