<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Time tracking software that lets you track work hours
        across projects">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <section class="header">
            <h1>Trackgenix</h1>
        </section>
        <section class="login">
            <h2>Sign in</h2>
            <form name="formlogin">
                <div class="login-div">
                    <img src="../assets/img/icon-email-sign-up.png">
                    <input type="text" id="email" name="email">
                <div>
                <div id="error-email"></div>
                <div class="login-div">
                    <img src="../assets/img/icon-pwd-sign-up.png">
                    <input type="password" id="password" name="password">
                </div>
                <div id="error-pwd"></div>
                <div>
                    <input type="checkbox" value="Remember-me" name="remember-checkbox" checked ="checked" class="remember-check">
                    <label for="remember-checkbox">Remember me</label>
                </div>
                <div>
                    <a href=""> Forgot password?</a>
                </div>
                <button type="submit" id="btn-login"> Login </button>
            </form>
        </section>
    </body>
</html>