#header {
    width: 92%;
    height: auto;
    margin:16px;
    border-bottom: 4px solid #49A37B;
}
#header h1 {
    display:inline-block;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}
#header h2 {
    margin-left: 74px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
#header button {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border:0;
}
@media only screen and (min-width: 480px){
    #header {
        display:flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin: 16px;
        width: 95%;
    }
    #header h1 {
        margin-left: 25px;
        padding-top: 64px;
    }
    #header h2 {
        margin-left: 95px;
    }
}
@media only screen and (min-width: 768px){
    #header {
        display:flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 16px;
    }
    #header h1 {
        padding-top:74px;
        padding-bottom: 22px;
    }
}
@media only screen and (min-width: 1024px){
    #header {
        display:flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 16px;
    }
    #header {
        width: 97%;
        height: auto;
        margin-left:25px;
        border-bottom: 4px solid #49A37B;
    }
    #header h1 {
        padding-top:84px;
        padding-bottom: 25px;
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
    }
    #header h2 {
        margin-left:18px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
}