#main {
    width: 90%;
}
.description-box {
    height: auto;
    border-bottom: 4px solid #49A37B;
}
.description-box h2 {
    padding: 5vh 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 35px;
}
.description-box h3 {
    padding: 3vh 0;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 23px;
}
.description-box p {
    margin: 5vh 0 15vh 0;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
.description-box img {
    max-height: 50%;
    max-width: 60%;
    margin-top: 8vh;
    border-radius: 0px;
}
.btn-learn {
    padding: 16px 16px;
    border-radius: 5px;
    background-color: #49A37B;
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #FFFFFF;
    text-transform: uppercase;
}
.functions-box {
    height:auto;
    margin-top:8vh;
    padding-bottom: 15vh;
    border-bottom:4px #49A37B solid;
}
.functions-box div {
    padding: 5vh 0;
    border-radius: 10px;
}
.functions-box h2 {
    width: fit-content;
    border-bottom:4px #49A37B solid;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 35px;
}
.functions-box h3 {
    padding-top: 3vh;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 23px;
}
.functions-box p {
    padding: 3vh 0;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 14px;
}
.functions-box img {
    height: 78px;
}
.why-box {
    height:auto;
    margin-top: 8vh;
    padding-bottom: 15vh;
    border-bottom:4px #49A37B solid;
}
.why-box h2 {
    width:fit-content;
    padding-bottom: 1vh;
    border-bottom:4px #49A37B solid;
    font-size: 1.25rem;
    font-weight: 700;
}
.boost-div, .manage-div, .business-div, .decision-div {
    position:relative;
    margin:5vh 0;
    padding: 3vh;
    background-color: #FFFFFF;
    border-radius: 17px;
    color:#373867;
}
.why-box h3 {
    padding: 3vh 0px 0px 0px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 23px;
    }
.why-box p {
    padding-top: 3vh;
    font-size: 0.65rem;
    font-weight: 400;
}
.why-box img {
    position:absolute;
    top: 12px;
    right: 15px;
}
.form-contact {
    height: auto;
    margin-top: 8vh;
    padding-bottom: 15vh;
    border-bottom:4px #49A37B solid;
}
.form-contact h2 {
    width: fit-content;
    margin-bottom: 9vh;
    padding-bottom: 1vh;
    border-bottom:4px #49A37B solid;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 35px;
}
.form-contact input, select, textarea {
    margin-bottom: 6vh;
    background:none;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    color:#FFFFFF;
}
.form-contact input {
    width: 95%;
    padding-left: 1vh;
    height: 6vh;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 16px;
}
.form-contact select {
    width: 95%;
    padding-left: 1vh;
    margin-top: 3vh;
    height: 6vh;
    background-color: #373867;
    color:#FFFFFF;
    opacity: 0.5;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 16px;
}
.form-contact label {
    width: 95%;
    height: 6vh;
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 15px;
}
.form-contact textarea {
    width: 95%;
    height: 30vh;
    padding-left: 2vh;
    padding-top: 2vh;
    margin-top: 6vh;
    border-radius: 5px;
    font-size: 0.65rem;
}
.form-contact button {
    height: 7vh;
    width: 13vh;
    margin-right: 4vh;
    border:transparent;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.65rem;
}
.btn-submit {
    background-color: #49A37B;
}
.btn-reset {
    background-color: #F13312;
}
.about-box {
    margin-top:8vh;
    padding-bottom: 15vh;
    border-bottom: 4px solid #49A37B;
}
.about-box h2 {
    width: fit-content;
    padding-bottom: 1vh;
    margin-bottom: 5vh;
    border-bottom: 4px solid #49A37B;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 35px;
}
.about-box h3 {
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 23px;
}
.about-box p {
    padding-bottom: 2vh;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 14px;
}
.flex-about {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}
.flex-about img {
    width: 50%;
    padding-left: 2vh;
}
.quote {
    padding: 1vh;
    border-left: 1px solid #FFFFFF;
    font-style: italic;
}
.about-box .div-1,.div-2 {
    margin-top: 5vh;
    display:none;
}
.about-title-3 {
    margin-top: 3vh;
    display:none;
}
.quick-links-box {
    width: 94%;
    margin-top: 8vh;
    padding:0px 0px 15vh 4vh;
    border-bottom: 4px solid #49A37B;
}
.quick-links-box h2 {
    padding: 5vh 0px 2vh 0px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}
.quick-links-box li {
    list-style-type: decimal;
}
.quick-links-box a:link, a:visited,  a:hover, a:active {
    text-align: left;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 14px;
}
@media only screen and (min-width: 480px){
    #main {
        width: 94%;
    }
    .description-box h2 {
        font-size: 1.5rem;
    }
    .description-box h3 {
        font-size: 1rem;
    }
    .description-box p {
        font-size: 1rem;
    }
    .functions-box div {
        display:flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-items: flex-start;
        padding: 6vh 1vh;
        border-radius: 10px;
    }
    .functions-box h3 {
        padding: 4vh 0 0 2vh;
        font-size: 1rem;
    }
    .functions-box p {
        padding: 0px 3vh 0 13vh;
        font-size: 0.75rem;
    }
    .why-box {
        width: 100%;
    }
    .why-box div {
        margin: 2vh;
    }
    .why-box .flex-container-why {
        display: flex;
        justify-content: space-evenly;
    }
    .form-contact input {
        width: 40%;
    }
    .form-contact .form-name {
        margin-right: 5vh;
    }
    .flex-about img {
        display: none;
    }
    .about-box .div-1,.div-2 {
        display:initial;
    }
    .about-box .about-p-2 {
        display: none;
    }
    .about-title-3 {
        display:initial;
    }
    .about-box .div-1 {
        display:flex;
        align-content: flex-start;
        text-align: justify;
    }
    .about-box .div-2 {
        display:flex;
        align-content: flex-end;
        text-align: justify;
    }
    .about-box img {
        width: 35%;
        height: 5%;
    }
    .quick-links-box {
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 768px){
    .description-box h2 {
        font-size: 2rem ;
    }
    .description-box h3 {
        font-size: 1.75rem ;
    }
    .description-box p {
        font-size: 1rem ;
    }
    .functions-box h2 {
        font-size: 2rem;
    }
    .functions-box h3 {
        font-size: 1.75rem;
    }
    .functions-box p {
        font-size: 1rem;
    }
    .why-box h2 {
        font-size: 2rem;
    }
    .why-box h3 {
        font-size: 1.55rem;
    }
    .why-box p {
        font-size: 1rem;
    }
    .why-box div {
        width:35%;
    }
    .form-contact h2 {
        font-size: 2rem;
    }
    .form-contact input {
        width: 43%;
        font-size: 1.45rem;
    }
    .form-contact .form-name {
        margin-right: 8vh;
    }
    .form-contact select {
        width: 100%;
        font-size: 1.45rem;
    }
    .form-contact label {
        font-size: 1.45rem;
    }
    .form-contact textarea {
        width: 100%;
    }
    .form-contact button {
        font-size: 1rem;
    }
    .about-box h2 {
        font-size: 2rem;
    }
    .about-box h3 {
        font-size: 1.75rem;
    }
    .about-box p {
        font-size: 0.75rem;
    }
    .about-box img {
        padding: 1vh;
    }
    .quick-links-box {
        width: 98%;
    }
}
@media only screen and (min-width: 1024px){
    #main {
        float: right;
        width: 72%;
    }
    .description-box {
        width: 100%;
        height: 125vh;
        margin: 3vh 0 0 5vh;
    }
    .description-box h2 {
        font-size: 2.25rem;
    }
    .description-box h3 {
        font-size: 2rem;
    }
    .description-box p {
        font-size: 1.25rem;
    }
    .flex-container-description {
        display: flex;
        flex-wrap: wrap;
    }
    .description-box img {
        float: right;
        width: 50%;
        height: 75vh;
    }
    .btn-learn {
        font-size: 1rem;
    }
    .functions-box {
        width: 100%;
        margin: 8vh 0 0 5vh;
        padding-bottom: 10vh;
    }
    .functions-box div {
        display:inline-block;
        width: 43%;
        margin-bottom: 4vh;
        padding: 1vh;
        border-radius: 10px;
    }
    .functions-box .functions-div {
        margin-right: 8vh;
    }
    .functions-box h2 {
        width: fit-content;
        font-size: 2.25rem;
    }
    .functions-box h3 {
        padding-top: 7vh;
        font-size: 1.55rem;
    }
    .functions-box p {
        padding: 3vh;
        font-size: 0.75rem;
        text-align: justify;
    }
    .functions-box img {
        float: left;
        margin-left: 2vh;
        margin-right: 2vh;
        padding-top: 7vh;
        margin-bottom: 10vh;
        height: 78px;
    }
    .why-box {
        width: 100%;
        margin: 8vh 0 0 5vh;
        padding-bottom: 10vh;
        border-bottom:4px #49A37B solid;
    }
    .why-box h2 {
        font-size: 2.25rem;
    }
    .boost-div, .manage-div, .business-div, .decision-div {
        margin: 0;
        padding: 0;
    }
    .why-box .flex-container-why {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .why-box div {
        width: fit-content;
        height: fit-content;
        margin: 2vh;
        padding: 2vh;
    }
    .why-box h3 {
        padding-top: 5vh;
        font-size: 1rem;
        }
    .why-box p {
        font-size: 0.75rem;
    }
    .form-contact {
        width: 100%;
        margin: 8vh 0 0 5vh;
        padding-bottom: 10vh;
    }
    .form-contact h2 {
        font-size: 2.25rem;
    }
    .form-contact select {
        width: 97%;
    }
    .form-contact textarea {
        width: 97%;
    }
    .form-contact button {
        font-size: 1rem;
    }
    .about-box {
        width: 100%;
        margin: 8vh 0 0 5vh;
        padding-bottom: 10vh;
    }
    .about-box h2 {
        font-size: 2.25rem;
    }
    .about-box h3 {
        font-size: 2rem;
    }
    .about-box p {
        font-size: 1.15rem;
    }
    .quick-links-box {
        display: flex;
        justify-content: space-between;
        margin: 8vh 0 0 5vh;
        width:95%;
    }
    .quick-links-box h2 {
        font-size: 2rem;
        padding-bottom: 5vh;
    }
    .quick-links-box a:link, a:visited,  a:hover, a:active {
        font-size: 1.1rem;
    }
}