#main {
    width: 90%;
    margin: 0 auto;
}

.description-box {
    width: auto;
    height: auto;
    padding: 1rem 0 5rem 0;
    border-bottom: 4px solid #49A37B;
}

.description-box h2 {
    padding: 2rem 0;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 35px;
}

.description-box h3 {
    padding: 1rem 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 23px;
}

.description-box p {
    margin: 2rem 0 5rem 0;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.description-box img {
    max-height: 50%;
    max-width: 60%;
    margin-top: 1.5rem;
    border-radius: 0;
}

.btn-learn {
    padding: 1rem;
    border-radius: 5px;
    background-color: #49A37B;
    font-size: 0.65em;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #FFFFFF;
    text-transform: uppercase;
}

.functions-box {
    height:auto;
    width: auto;
    margin-top:2.5rem;
    padding-bottom: 2rem;
    border-bottom:4px #49A37B solid;
}

.functions-box .functions-div {
    padding: 1.56rem 0;
    border-radius: 10px;
}

.functions-box h2 {
    width: fit-content;
    border-bottom:4px #49A37B solid;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 35px;
}

.functions-box h3 {
    padding-top: 1rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 23px;
}

.functions-box p {
    padding: 1rem 0;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 14px;
}

.functions-box img {
    height: 3rem;
}

.why-box {
    height:auto;
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    border-bottom:4px #49A37B solid;
}

.why-box h2 {
    width:fit-content;
    padding-bottom: 0.31rem;
    border-bottom:4px #49A37B solid;
    font-size: 1.25em;
    font-weight: 700;
}

.why-box .why-div {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:1.56rem 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 17px;
    color:#373867;
}

.why-box h3 {
    width: 83%;
    padding: 1rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 23px;
}

.why-box p {
    padding-top: 1rem;
    font-size: 0.65em;
    font-weight: 400;
}

.why-box img {
    height: 1.5rem;
    width: 1.5rem;
}

.form-contact {
    height: auto;
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    border-bottom:4px #49A37B solid;
}

.form-contact h2 {
    width: fit-content;
    margin-bottom: 2.5rem;
    padding-bottom: 0.31rem;
    border-bottom:4px #49A37B solid;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 35px;
}

.form-contact input, select, textarea {
    margin: 1rem;
    background:none;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    color:#FFFFFF;
}

.form-contact input {
    width: 95%;
    padding-left: 0.31rem;
    height: 1.875rem;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 16px;
}

.form-contact select {
    width: 95%;
    padding-left: 0.31rem;
    height: 1.875rem;
    background-color: #373867;
    color:#FFFFFF;
    opacity: 0.5;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 16px;
}

.form-contact label {
    width: 95%;
    border: none;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 15px;
}

.form-contact textarea {
    width: 95%;
    height: 6rem;
    margin-bottom: 2.8rem;
    padding-left: 0.625rem;
    padding-top: 0.625rem;
    border-radius: 5px;
    font-size: 0.75em;
}

.form-contact button {
    height: 2rem;
    width: 4rem ;
    margin-right: 1.25rem;
    border:transparent;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.65em;
}

.btn-submit {
    background-color: #49A37B;
}

.btn-reset {
    background-color: #F13312;
}

.about-box {
    margin-top:2.5rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid #49A37B;
}

.about-box h2 {
    width: fit-content;
    padding-bottom: 0.31rem;
    margin-bottom: 1.56rem;
    border-bottom: 4px solid #49A37B;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 35px;
}

.about-box h3 {
    padding-top: 0.625rem;
    padding-bottom: 1rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 23px;
}

.about-box p {
    padding-bottom: 0.625rem;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 14px;
}

.flex-about {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.flex-about img {
    width: 50%;
    padding-left: 0.625rem;
}

.quote {
    padding: 0.31rem;
    border-left: 1px solid #FFFFFF;
    font-style: italic;
}

.about-box .about-flex-container-1,.about-flex-container-2 {
    margin-top: 1.56rem;
    display:none;
}

.about-title-3 {
    margin-top: 1rem;
    display:none;
}

.quick-links-box {
    width: 94%;
    margin-top: 2.5rem;
    padding:0 0 2rem 1.25rem;
    border-bottom: 4px solid #49A37B;
}

.quick-links-box h2 {
    padding: 1.56rem 0 0.625rem 0;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.quick-links-box li {
    list-style-type: decimal;
}

.quick-links-box a:link, a:visited,  a:hover, a:active {
    text-align: left;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 14px;
}

@media only screen and (min-width: 480px) {
    .functions-box div {
        display:flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-items: flex-start;
    }

    .functions-box h3 {
        padding: 0.650rem 0 0 0.625rem;
    }

    .functions-box p {
        padding: 0 1rem 1rem 4rem;
    }

    .why-box .flex-div-why {
        display: flex;
    }

    .form-contact .form-flex-name-email {
        display: flex;
        justify-content: space-between;
    }

    .flex-about img {
        display: none;
    }

    .about-box .about-p-2 {
        display: none;
    }

    .about-title-3 {
        display:initial;
    }

    .about-box .about-flex-container-1 {
        display:flex;
        align-content: flex-start;
        text-align: justify;
    }

    .about-box .about-flex-container-2 {
        display:flex;
        align-content: flex-end;
        text-align: justify;
    }

    .about-box img {
        width: 35%;
        height: 5%;
        padding: 0.75rem;
    }

    .quick-links-box {
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {

    .why-box .flex-container-why {
        display:flex;
    }
    .why-box h3 {
        width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    .description-flex-div {
        display: flex;
        flex-direction: row-reverse;
    }

    .description-flex-div img {
        width: 40%;
        height: 25rem;
        padding-left: 2rem;
    }

    .functions-div {
        display: inline-block;
        width: 50%;
        margin-bottom: 2rem;
    }
    .quick-links-box {
        width:95%;
    }
}